*
!.gitignore
!README.md
!server.properties
!server-icon.png
!plugins/
!plugins/Towny
!plugins/Towny/settings
!plugins/Towny/settings/config.yml
!plugins/Towny/settings/townyperms.yml
!plugins/MoreMobHeads
!plugins/MoreMobHeads/chance_config.yml
!plugins/Jobs
!plugins/Jobs/generalConfig.yml
!plugins/Jobs/jobs
!plugins/Jobs/jobs/_EXAMPLE.yml
!plugins/Jobs/jobs/brewer.yml
!plugins/Jobs/jobs/builder.yml
!plugins/Jobs/jobs/crafter.yml
!plugins/Jobs/jobs/digger.yml
!plugins/Jobs/jobs/enchanter.yml
!plugins/Jobs/jobs/farmer.yml
!plugins/Jobs/jobs/fisherman.yml
!plugins/Jobs/jobs/hunter.yml
!plugins/Jobs/jobs/miner.yml
!plugins/Jobs/jobs/none.yml
!plugins/Jobs/jobs/weaponsmith.yml
!plugins/Jobs/jobs/woodcutter.yml
